* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../img/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

.titulo {
    text-align: center;
    margin-top: 80px;
    color: #2c050f;
    padding: 10px;
    font-size: 50px;
}

.slider-container {
    margin-left: 5%;
    width: 90%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    box-shadow: 10px 10px 10px rgba(148, 148, 148, 0.2);
    margin-bottom: 20px;
}

.slider {
    display: flex;
    cursor: grab;
    padding: 20px;
    user-select: none;
    transition: transform 0.5s ease-out;
}

.slide {
    min-width: 250px;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: bold;
    margin-right: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border: 2px solid #5b0a30;
    box-shadow: 10px 10px 10px solid rgb(8, 6, 6, 0.2);
}

.image-container {
    width: 100%;
    height: 40vh;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    margin-bottom: 20px;
    transition: transform 0.2s ease-in-out;
    /*ampliación de la imagen*/
    pointer-events: none;
}

.image-container:hover img {
    transform: scale(1.3);
}

.text-container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 80px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease-in;
    background: linear-gradient(to right, rgba(56, 5, 5, 0.8), rgb(142, 9, 67, 0.8));
    backdrop-filter: blur(2px);
}

.text-container h2 {
    font-size: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
}

.text-container:hover h2 {
    opacity: 0;
}

.text-container a {
    font-size: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    position: relative;
    z-index: 2;
}

.text-container:hover {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    color: rgb(255, 255, 255, 0);
    height: 750px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140%;
    background-color: rgba(255, 255, 255, 1);
    color: #333;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    z-index: 1;
}

.text-container:hover .overlay {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(2px);
}

.text-container:hover h3 {
    font-size: 30px;
}

.overlay h3 {
    font-size: 1.5em;
    margin-top: 10px;
}

.overlay p {
    margin: 10%;
    font-size: 20px;
}

.overlay a {
    padding: 10px 20px;
    background-color: #4e0911;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease-in;
}

.overlay a:hover {
    background-color: #ed437f;
}

                                                /* Aquí empieza el menú de navegación */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(to right, #9e0505, #fe7ba4);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    z-index: 1000;
} 


/* Logo */
.logo a {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    text-decoration: none;
} 


/* Menú de navegación */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-size: 1em;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #ffdcf9;
}

/* Iconos de redes sociales y botón de búsqueda */
.nav-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Estilos para los iconos de redes */
.social-icon {
    text-decoration: none;
    font-size: 1.2em;
    color: #333;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #af8621;
}

/* Botón de búsqueda */
.search-button {
    background: none;
    border: 2px solid #333;
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

.search-button:hover {
    background: #af8621;
    color: white;
    border-color: #af8621;
}
                                                    /* Aquí empieza el css del Main */
.contenedor {
    display: flex;
    width: 95%;
    margin: 0 auto;
    gap: 5%;
}

.sidebar {
    width: 25%;
    background-color: rgb(255, 255, 255, 0.7);
    backdrop-filter: blur(3px);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    word-break: break-word;
    overflow: auto;
}

/* Caja individual dentro del sidebar */
.sidebar-box {
    border: 5px double #847c77;
    background-color: white;
    margin-bottom: 100px;
    border-radius: 10px;
    padding-top: 0;
}

.sidebar-box div a {
    margin-bottom: 100px;
    font-size: 1.3rem;
}

.sidebar-title {
    padding: 5px 15px;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
    border-bottom: 5px double #847c77;
    background: linear-gradient(to right, rgba(56, 5, 5, 0.9), rgb(142, 9, 67, 0.9));
    color: white;
}

.sidebar-box ul {
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 1.4rem;
}

.sidebar-box p {
    text-align: justify;
    margin-left: 40px;
    margin-right: 30px;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.sidebar-box-diva {
    margin-left: 40px;
    margin-bottom: 20px;
}

                                                    /* Aquí empieza el CSS de las recetas */
.contenido {
    width: 80%;
    background-color: rgb(255, 255, 255, 0.7);
    backdrop-filter: blur(3px);
    text-align: center;
    padding: 20px 0px;
}

.contenido h2 {
    font-size: 3rem;
}

.recetas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    gap: 1rem; 
    padding: 2rem;
}

.receta {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.receta img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.receta h3 {
    margin: 1rem;
    font-size: 2.5rem;
    text-align: justify;
}

.receta p {
    text-align: justify;
    margin: 0 1rem 1rem;
    color: #555;
    font-size: 2rem;
}

.receta div {
    margin: 0 35% ;
    margin-bottom: 10px;
    background: rgb(105, 3, 3);
    border-radius: 3px;
    text-align: center;
}
.receta div a {
    font-size: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    position: relative;
    z-index: 2;
}

.receta div:hover {
    background-color: #c80d6a;
}

.receta:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4    );
    /* box-shadow: 0 -8px -15px rgba(255, 255, 255, 0.2); */
}

/* Animaciones al desplazarse */
.receta {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s ease forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#boton-subir {
    text-align: center;
    padding: 10px;
}

#boton-subir button {
    background-color: #847c77;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

#boton-subir button:hover {
    background-color: #af8621;
}
/* Aquí empieza el CSS de contacto */
.contacto {
            background: #fff;
            padding: 2rem;
            margin: 2rem auto;
            max-width: 500px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            opacity: 0.7;
            transition: margin-top 0.3s ease-in-out; /*transición con el cambio de tamaño*/
        }
        /* Ajustar el margen superior en pantallas pequeñas */
@media (max-width: 768px) { 
    .contacto {
        margin-top: 6rem; /* Aumenta el margen para evitar que el header lo cubra */
    }
}

        .contacto h2 {
            margin-bottom: 1rem;
            font-size: 1.8rem;
            text-align: center;
        }

        .contacto label {
            display: block;
            margin: 0.5rem 0 0.2rem;
            font-weight: bold;
        }

        .contacto input, .contacto textarea {
            width: 100%;
            padding: 0.5rem;
            margin-bottom: 1rem;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 1rem;
        }

        .contacto button {
            display: block;
            width: 100%;
            padding: 0.7rem;
            background: #ff6347;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            cursor: pointer;
            transition: background 0.3s ease;
        }

        .contacto button:hover {
            background: #e5533d;
        }
        .menu-recetas {
            display: flex;
            overflow-x: auto;
            white-space: nowrap;
            background: #fff;
            padding: 1rem;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .menu-recetas::-webkit-scrollbar {
            display: none;
        }

        .menu-recetas .mini-receta {
            display: inline-block;
            margin: 0 0.5rem;
            text-align: center;
            transition: transform 0.3s ease;
        }

        .menu-recetas .mini-receta img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        .menu-recetas .mini-receta p {
            margin-top: 0.5rem;
            font-size: 0.9rem;
            color: #333;
        }

        .menu-recetas:hover {
            cursor: pointer;
        }

        .menu-recetas:hover .mini-receta {
            transform: translateX(5px);
        }
    li a:hover {
      background-color: orange; /* Color de fondo al pasar el ratón */
      color: white; /* Cambiar el color del texto */
      padding:10px;
      border-radius: 10px;
    }